@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss"; 

*{
  font-family: "Outfit",sans-serif;
}

@theme{
  --color-primary: #ff9a00;
  --color-primary-dull: #ff9900b2;
  
}

a:hover{
  color: #ff9a00;
}